
@model IEnumerable<MyRestaurant.Models.MeniuClient>

@{
    ViewBag.Title = "Index";
}


<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Meniu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ingrediente)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Meniu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ingrediente)
            </td>
            <td><a href="../AddToTable1?id=@TempData["id"]idmeniu=@item.Id">Comanda</a>
               

            </td>
        </tr>
    }

</table>
